# Coding parameters

SOURCEKIND     = WAVEFORM
SOURCEFORMAT   = WAV
SOURCERATE     = 625
ZMEANSOURCE    = TRUE

TARGETKIND     = PLP_E_D_A_Z
TARGETFORMAT   = HTK
TARGETRATE     = 100000

SAVECOMPRESSED = T
SAVEWITHCRC    = T

WINDOWSIZE     = 250000.0
USEHAMMING     = T
PREEMCOEF      = 0.97

USEPOWER       = T

NUMCHANS       = 24
CEPLIFTER      = 22
NUMCEPS        = 12

ENORMALISE     = T
ALLOWCXTEXP    = T
ALLOWXWRDEXP   = T
FORCECXTEXP    = T

